services:
  # 1. Backend Service (Flask API)
  - type: web
    name: coconut-backend
    runtime: docker
    region: oregon
    plan: free
    rootDir: backend
    envVars:
      - key: PORT
        value: 8080

  # 2. Frontend Service (Angular Static Site)
  - type: static
    name: coconut-yield-app
    region: oregon
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: dist/frontend/browser
    headers:
      - path: /*
        name: X-Frame-Options
        value: sameorigin
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
